.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    /* display: flex; */
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 48px;
}

.hero {
display: flex;
}

.hero .container {
    
}

.hero .image {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 24px;
    /* margin-right: 24px; */
}

.footer {
    display: flex;
}