body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.body {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
}
    
.image {
    display: flex;
    width: 8em;
    height: 8em;
    /* margin: 0; */
    /* flex: 1 1 auto; */
    /* justify-content: flex-end; */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;    
}

a {
    text-decoration: none;
    color: #667;
}

.hero, .footer {
    background-color: #1f2937;
}

.footer {
    display: flex;
}